header {
    background-color: #ffffff;
}

body {
    background-color: #C4C4C4;
}

footer {
    background-color: #ffffff;
}

.card{
    background-color: #ffffff;
    color : #330033;
    padding: 1em;
}

.card_title {
    color : #282828;
    font-size : 14px;
}

.card_description {
    color : #282828;
    font-size : 12px;
}

.card_img-top {
    width: 288px;
    height: 182px;
    margin-bottom: auto;
}
